* {
    font-family: "Tahoma", "Calibri", sans-serif;
}

.hand {
    cursor: pointer;
}

.hesabix-tab-icon {
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

a.nav-tab {
    padding: 5px 10px;
    font-weight: normal;
    border-radius: 7px 7px 0px 0px;

}

.hesabix-tab-page-title {
    color: dimgray;
}

.hesabix-f-12 {
    font-size: 12pt;
}

.hesabix-f li {
    font-size: 11pt;
}

.hesabix-header {
    background-color: #304967;
    box-shadow: 5px 5px 5px #f3f3f3;
    padding: 5px;
    margin-right: -20px;
}

.hesabix-header img {
    height: 35px;
}

.hesabix-card {
    max-width: none !important;
    margin-left: 20px;
    background-color: whitesmoke !important;
}

.hesabix-bold {
    font-weight: bold;
}

.hesabix-plugin-tutorial-chapter {
    color: dimgray;
    font-weight: bold;
    border-bottom: 1px solid silver;
    margin-bottom: 5px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.hesabix-plugin-tutorial-chapter:hover {
    color: dodgerblue;
    cursor: pointer;
}